.banner {
	color: #fff;
	background-color: rgba(96,170,210, .5);
    box-sizing: border-box;
}

.banner-heading {
    padding: 5em 0 0.5em;
 	font-size: 1.6em;
    font-family: Georgia;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    box-sizing: border-box;
}

.banner-text {
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    font-family: Georgia;
    text-shadow: 1px 1px 1px black;
}

/*========== Logo style==========*/
.logo-nav {
	padding: .5em .2em;
	box-sizing: border-box;
}

.logo {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border: 4px solid #2DA8A2;
	border-radius: 50%;
	box-sizing: border-box;
}

.logo a {
	display: block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
	text-shadow: .5px .5px .5px #2DA8A2;
	text-decoration: none;
	color: #2DA8A2;
	line-height:  2.5em;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
	font-size: 1.5em;
}
/*==========Finish Logo style==========*/


/*==========Navigation style==========*/
.site-nav {
    padding-top: 10px;
	box-sizing: border-box;
	float: right;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	float: left;
	list-style: none;
	margin-right: 5px;
}

.site-nav a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 4px;
	box-sizing: border-box;
	transition: .4s all;
}

.site-nav a:hover {
	color: #22B376;
	background: #fff;
	border: 2px solid #B1CCC1;
}

/*==========Finish Site-Nav style==========*/

/*========== Media screen ==========*/
@media screen and (min-width: 400px) {
	.logo-nav {
		width: 80%;
    	margin: 0 auto;
	}
	.site-nav li {
		margin-right: 1em;
	}
	.banner-heading {
		padding: 4em .5em .5em;
	}
	.banner-heading,
	.banner-text {
		width: 80%;
		margin: 0 auto;
    	font-size: 1.7em;
    }
}


@media screen and (min-width: 600px) {
	.banner-heading {
		padding: 4em .5em .5em;
	}
	.banner-heading,
	.banner-text {
		width: 80%;
		margin: 0 auto;
    	font-size: 2.2em;
	}
	.logo-nav {
		width: 85%;
    	margin: 0 auto;
    	padding: 1.5em 0 0;
	}
	.logo {
		transform: scale(1.2);
	}
	.site-nav li {
		margin-right: 1.5em;
	}
	.site-nav a {
		padding: .1em .8em;
	    font-size: 1.1em;
	}
}

@media screen and (min-width: 900px) {
	.logo-nav {
		width: 80%;
	}
	.site-nav {
		padding-top: 15px;
	}
	.site-nav li {
		margin-right: 2em;
	}
	.site-nav a {
		padding: .2em 1.3em;
	    font-size: 1.2em;
	}
}