html {
	background-color: rgba(143, 169, 163, 0.16);
}

html, body, #wrapper  {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	max-width: 1900px;
	line-height: 1.5;
	font-size: 100%;
	font-size: 18px;
	font-family: 'PT Sans', Tahoma, Arial;
}

main, header, section, article, nav, footer {
	display: block;
}

h1, h2,h3,h4,h5,p {
	margin: 0;
}

h2 {
	font-family: 'Lora', serif;
	font-weight: 700;
	text-align: center;
	font-size: 1.8em;
	color: rgba(66, 90, 69, 0.79);
}

h3 {
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 1.3em;
	color: #87C099;
}

main, #i-can  {
	background-color: #E0EBE8;
}

#main-block p {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.1em;
	color: rgba(72, 70, 70, 0.98);
	padding-top: .5em;
	text-align: center;
}

#wrapper {
	min-height: 100%;
	font-size: .8em;
}

#header-block, .banner, #about, #i-can, #contact {
	min-height:470px;
	height: 100%;
}

@media screen and (min-width: 1024px) {
	#header-block, .banner, #about, #i-can, #contact {
		min-height: 768px;
	}
}

#header-block {
	background: url(../img/gora.jpg) center bottom no-repeat;
	background-size: cover;
	overflow: auto;
}

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}

